Flask           # Flask framework for serving the app
#gunicorn        # WSGI server for running Flask in production
pandas          # Data manipulation library
numpy           # Numerical computations
matplotlib      # Plotting library
seaborn         # Statistical data visualization
scikit-learn    # Machine learning library
boto3           # AWS SDK for Python
rapidfuzz       # Fuzzy string matching
